<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Webstore App</title>
  </head>
  <body>
    <div id="app">
      <div v-if="page == 'welcome'" id="welcome-page">
        <h1>Welcome to the store</h1>
        <h2 @click="page = 'store'">Click Here To Enter</h2>
      </div>

      <div v-if="page == 'store'" id="store-page">
        <h1>Store</h1>
        <div class="search-area">
          <input
            id="search-bar"
            type="text"
            placeholder="search"
            v-model="searchInput"
          />
          <p
            class="cart-store-button"
            @click="page ='checkout', updateCartTotal()"
          >
            CART <sup class="orange">{{cart.length}}</sup>
          </p>
        </div>
        <div class="store-items">
          <product
            v-for="(product, index) in filteredProducts"
            v-bind:item="product"
            v-bind:key="index"
            v-bind:cart="cart"
            class="item-container"
          ></product>
        </div>
      </div>

      <div v-if="page == 'checkout'" id="checkout-page">
        <h1>Cart</h1>
        <div class="search-area">
          <p class="cart-store-button" @click="page = 'store'">
            Return To Store
          </p>
        </div>
        <h2 style="text-align: center">Total Of Cart: $ {{cartTotal}}</h2>
        <div class="store-items">
          <productincart
            v-for="(product, index) in cart"
            v-bind:item="product"
            v-bind:key="index"
            v-bind:cart="cart"
            v-bind:update-cart-total="updateCartTotal"
            class="item-container"
          ></productincart>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
